<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag ("logo.jpg") %>
      <% end %>
    </div>

    <ul>
      <li class= "category">Products</li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li>Github</li>
      <li>Linkedin</li>
      <li>Twitter</li>
      <li>About (Bio, Email...)</li>
    </ul>

    <p class="sign_in">Admin Login</p>
  </div>

<%= yield %>

</body>
</html>
